.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.profile {
    margin-right: 20px;
}

.picture-container {
    margin-top: 20px;
}



.categories-header {
    font-size: 24px;
    margin-top: 20px;
}

.categories-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
}

.category {
    flex-basis: calc(33.33% - 10px); /* Adjust spacing between categories */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.dashboard-photo {
    margin-top: 100px;
    width: 1500px;
    height: 600px;

}

.divider {
    border-bottom: 40px solid red; /* Adjust thickness and color as needed */
    width: 100%; /* Ensure it spans the entire width of its container */
  /* Adjust margin as needed */

}


.category-section {
    font-size: 80px !important;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.weoffer-section {
    font-size: 80px !important;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

.offer-boxes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.offer-box {
    flex-basis: 22%; /* Adjusted width */
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin: 5px; /* Adjusted margin */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-description {
    color: #000; /* Set text color to black */
}

.offer-topic {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333; /* Adjust the color as needed */
}
 .topic{
     font-size: 30px;
     font-weight: bold;
     color: black;
 }