.forgot-password-container {
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;


}

.forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;

}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
}



.button:hover {
    background-color: #0056b3;
}

.sub {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.backtosignin {
    color: red;
    text-decoration: underline;
}
